.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--white);
  padding: 4rem 0.5rem;
  margin:2rem;
  align-items: center;
  border-radius: 1rem;
}

.title{
  font-size: 1.5rem;
}